@model CustomerModel
<form action="/Customer/Update/@Model.CustomerId" method="post">
    <div class="mb-3">
        <label class="form-label">Customer Name</label>
        <input type="text" class="form-control" id="CustomerName" name="Name" value="@Model.CustomerName" />
    </div>
    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="PhoneNo" name="Phone" value="@Model.PhoneNo">
    </div>
    <div class="mb-3">
        <label class="form-label">Date Of Birth</label>
        <input type="text" class="form-control" id="DateOfBirth" name="DOB" value="@Model.DateOfBirth">
    </div>
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" id="Gender" name="Gender" value="@Model.Gender">
    </div>
    <div class="mb-3">
        <a href="/Customer" class="btn btn-outline-dark">Back</a>
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>